<div class="contactlist" >
  <h1>Liste de mes contacts</h1>
  <div class="contactShortView" 
       *ngFor="let contact of contacts" 
       (click)="ifClickOnContact(contact)"
       [ngClass]="{'selected':selectedContact===contact}" >
       
    <a routerLink="/contact/{{contact.id}}">
      <img [ngStyle]="calculateImgsize(contact)" src="{{contact.photo}}" />  
      <span [ngStyle]="calculateFontsize(contact)">
        {{contact.forname}} 
        {{contact.name}}
      </span>
    </a>
    <br style="clear:both;" />  
  </div>
</div>
